@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remova ou comente abaixo se quiser deixar Tailwind aplicar o estilo 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Estilização padrão leve (opcional) 
body {
  margin: 0;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}
*/